In [49]:
for patinhos in [5,4,3,2,1]:
   if patinhos>1:
      print(patinhos ," patinhos foram passear alem das montanhas para brincar, a mamãe falou 'QUA' mas", patinhos-1, "patinhos voltaram de lá")
   else:
   print(patinhos ," patinho foi passear alem das montanhas para brincar, a mamãe falou 'QUA' mas", patinhos-1, "patinho voltou de lá")

5  patinhos foram passear alem das montanhas para brincar, a mamãe falou 'QUA' mas 4 patinhos voltaram de lá
4  patinhos foram passear alem das montanhas para brincar, a mamãe falou 'QUA' mas 3 patinhos voltaram de lá
3  patinhos foram passear alem das montanhas para brincar, a mamãe falou 'QUA' mas 2 patinhos voltaram de lá
2  patinhos foram passear alem das montanhas para brincar, a mamãe falou 'QUA' mas 1 patinhos voltaram de lá
1  patinho foi passear alem das montanhas para brincar, a mamãe falou 'QUA' mas 0 patinho voltou de lá

In [1]:
for elefante in [1,2,3,4,5,6,7,8,9,10]:
 repete = "incomodam "
 if elefante %2 ==0:
  print(elefante, "incomodam", repete * elefante, "muito mais")
 elif elefante ==1:
  print(elefante, "elefante incomoda muita gente")
 else:
  print(elefante, "elefantes incomoda muita gente")

1 elefante incomoda muita gente
2 incomodam incomodam incomodam  muito mais
3 elefantes incomoda muita gente
4 incomodam incomodam incomodam incomodam incomodam  muito mais
5 elefantes incomoda muita gente
6 incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
7 elefantes incomoda muita gente
8 incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
9 elefantes incomoda muita gente
10 incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais

In [1]:
for elefante in [10,9,8,7,6,5,4,3,2,1]:
 repete = "incomodam "
 if elefante %2 ==0:
  print(elefante, "elefantes incomodam muita gente")
 elif elefante ==1:
  print(elefante, "elefante incomoda muito menos")
 else:
  print(elefante, "incomodam", repete * elefante, "muito menos")

10 elefantes incomodam muita gente
9 incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos
8 elefantes incomodam muita gente
7 incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos
6 elefantes incomodam muita gente
5 incomodam incomodam incomodam incomodam incomodam incomodam  muito menos
4 elefantes incomodam muita gente
3 incomodam incomodam incomodam incomodam  muito menos
2 elefantes incomodam muita gente
1 elefante incomoda muito menos

In [47]:
numero= (1,2,3,4,5,6,7,8,9,10)
for n in numero:
    if n ==1:
        print("Mariana conta", n, "é", n, "é ana, viva a mariana")
    else:
        print("Mariana conta", n, "é", numero[0:n], "é ana, viva a mariana")

Mariana conta 1 é 1 é ana, viva a mariana
Mariana conta 2 é (1, 2) é ana, viva a mariana
Mariana conta 3 é (1, 2, 3) é ana, viva a mariana
Mariana conta 4 é (1, 2, 3, 4) é ana, viva a mariana
Mariana conta 5 é (1, 2, 3, 4, 5) é ana, viva a mariana
Mariana conta 6 é (1, 2, 3, 4, 5, 6) é ana, viva a mariana
Mariana conta 7 é (1, 2, 3, 4, 5, 6, 7) é ana, viva a mariana
Mariana conta 8 é (1, 2, 3, 4, 5, 6, 7, 8) é ana, viva a mariana
Mariana conta 9 é (1, 2, 3, 4, 5, 6, 7, 8, 9) é ana, viva a mariana
Mariana conta 10 é (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) é ana, viva a mariana